@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* ----------------------------- */

[class*="__container"] {
  max-width: 1140px; /* 1110 + 30 */
  margin-inline: auto;
  padding-inline: 15px;
}
/* ======================================================= */
/*                           HEADER                        */
/* ======================================================= */

.header {
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-block: 10px;
  column-gap: 15px;
  justify-content: space-between;
}

.header__menu {
}

.menu {
  display: flex;
  align-items: center;
  flex-basis: 245px;
}

.menu__body {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
}

.menu__item {
}

.menu__link {
  color: #505f98;
  font-size: 14px;
  line-height: 171.429%;
  transition:
    text-decoration 0.5s,
    font-weight 0.5s;
}

@media (any-hover: hover) {
  .menu__link:hover {
    font-weight: 500;
    text-decoration: underline;
  }
}

.menu__icon {
}

.icon-menu {
  display: none;
  position: relative;
  z-index: 5;
}

.header__logo {
  color: #37447e;
  font-size: 26px;
  font-weight: 900;
  line-height: 146.154%;
  position: relative;
  z-index: 5;
}

.header__btn {
  flex-basis: 228px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .icon-menu {
    flex-shrink: 0;
    flex-basis: 30px;
    display: flex;
    flex-direction: column;
  }

  .icon-menu span {
    margin-block: 6px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    transition: all 0.3s;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #37447e;
  }

  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;

    transition: inset-inline-start 0.3s;

    overflow: auto;
    padding: 80px 15px 30px;
    background-color: #37447e;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 60px;
    z-index: 3;

    transition: inset-inline-start 0.3s;
    background-color: #74e8f7;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    row-gap: 25px;
    padding-inline-start: 20px;
  }

  .menu__link {
    font-size: 24px;
    color: #111b47;
  }

  .open-menu .menu__body,
  .open-menu .menu__body::before {
    inset-inline-start: 0;
  }

  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }

  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(1.5px);
  }

  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-1.5px);
  }
}

@media (max-width: 608px) {
  .menu {
    flex-basis: 228px;
  }
  .header__button {
    padding-inline: 35px;
  }
}

@media (max-width: 479px) {
  .header__button {
    padding: 8px 15px;
  }
}

@media (max-width: 320px) {
  .menu {
    flex-basis: 160px;
  }
  .header__button {
    padding: 6px 7px;
  }
}

/* ======================================================= */
/*                             PAGE                        */
/* ======================================================= */

.page {
  position: relative;
}

.page::before {
  content: "";
  background: url(../img/landing/hero/hero-background.svg) 0 0 / 100% no-repeat;
  aspect-ratio: 1490 / 1161;
  min-height: 1161px;
  position: absolute;
  top: -296px;
  left: 34.5%;
  z-index: -1;
}

.page__hero {
  padding-block-end: 85px;
}

/* ======================================================= */
/*                         ЗАГАЛЬНІ                        */
/* ======================================================= */

.header-block {}

.header-block__title {
  color: #091133;
  font-size: 36px;
  font-weight: 500;
  line-height: 133.333%;
}

.header-block__title:not(:last-child) {
  margin-block-end: 16px;
}

.header-block__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px;
  color: #6F7CB2;
  line-height: 162.5%;
}

.buy-button {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;

  border-radius: 2px;
  background-color: #111b47;
  overflow: hidden;

  width: fit-content;
  padding: 4px 57px;

  transition:
    color 0.3s,
    background-color 0.5s;
}

.buy-button--padding {
  padding-inline: 29px;
}

/* ======================================================= */
/*                           HERO                          */
/* ======================================================= */

.hero {}

@media (min-width: 767.98px) {
  .hero {
    display: flex;
  }
}

.hero__content {
  flex: 0 0 100%;
}

.hero__container {
  display: flex;
  align-items: center;
}

@media (min-width: 767.98px) {
  .hero__body {
    flex-basis: 48.559%;
    padding-block-start: 58px;
    padding-block-end: 27.118%;
  }
}

.hero__title {
  color: #091133;
  font-size: 50px;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 1px;
}

.hero__title:not(:last-child) {
  margin-bottom: 20px;
}

.hero__text {
  color: #505f98;
  font-size: 18px;
  line-height: 166.667%;
}

.hero__text p:not(:last-child) {
  margin-bottom: 14.64px;
}

.hero__text:not(:last-child) {
  margin-bottom: 69px;
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30.15px;
  row-gap: 15px;
  justify-content: center;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 189px;
  font-weight: 500;
  line-height: 162.5%;
  border-radius: 2px;
  min-height: 36px;
}

.purchase-button {
  color: #fff;
  background-color: #111b47;
}

.learn-button {
  color: #091133;
  border: 2px solid #091133;
}

.hero__image {}

@media (min-width: 767.98px) {
  .hero__image {
    position: relative;
    flex: 0 0 44.7%;
    transform: translate(-100%, 0);
    aspect-ratio: 975 / 780;
  }

  .hero__image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
  }
}

@media (max-width: 1371px) {
  .page::before {
    min-height: 1110px;
  }

  .hero__body {
    padding-block-end: 23%;
  }  

  .hero__image {
    flex: 0 0 45%;
  }
}  

@media (max-width: 1242px) {
  .page::before {
      min-height: 1030px;
  }

  .hero__body {
    padding-block-end: 20%;
  }

  .hero__title {
    font-size: 45px;
  }  

  .hero__image {
    flex: 0 0 50%;
  }
}

@media (max-width: 1138px) {
  .page::before {
    min-height: 980px;
  }

  .hero__body {
    padding-block-end: 16%;
  }
}

@media (max-width: 1032px) {
  .page::before {
      min-height: 950px;
  }
  .hero__body {
    padding-block-start: 40px;
  }

  .hero__title {
      font-size: 40px;
  }
}

@media (max-width: 934px) {
  .page::before {
      min-height: 770px;
  }
  .page__hero {
      padding-block-end: 40px;
  }
  .hero__body {
    padding-block-start: 30px;
    padding-block-end: 5%;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 884px) {
  .page__hero {
      padding-block-end: 10px;
  }

  .page::before {
      min-height: 710px;
  }
  .hero__body {
      padding-block-start: 20px;
      padding-block-end: 0;
    }

  .hero__title {
    font-size:30px;
  }
}

@media (max-width: 870px) {
  .page::before {
    min-height: 760px;
  }
}
@media (max-width: 767px) 
{
  .hero__content {
    margin-block-end: 20px;
  }
  .hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 975 / 780;
  }
}  

/* ======================================================= */
/*                         POWERFULL                       */
/* ======================================================= */

.section__powerfull {}

.powerfull {
  padding-block-start: 108px;
  padding-block-end: 108.04px;
}

@media (min-width:767.98px) {
  .powerfull__container {
    display: flex;
  }

  .powerfull__content {
    padding-block-start: 52px;
    flex-basis: 48.4685%;
  }
}
.powerfull__header:not(:last-child) {  
    margin-block-end: 81px;
}


.powerfull__cards {
  display: flex;
  justify-content: space-between;
}

.powerfull__card {
}

.card-info {
  flex-basis: 47.39777%;
}

.card-info__img {
  width: 36px;
  height: 36px;
}

.card-info__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 36 / 36;
}

.card-info__img:not(:last-child) {
  margin-block-end: 14px;
} 

.card-info__title {
  color: #091133;
  font-weight: 500;
  line-height: 162.5%;
}

.card-info__title:not(:last-child) {
  margin-block-end: 6px;
}

.card-info__text {
  color: #5D6970;
  font-size: 12px;
  line-height: 150%;
}

.powerfull__image {
  flex-basis: 51.531532%;
  display: flex;
  justify-content: flex-end;
}

.powerfull__wrapper {  
  max-width: 540px;
}

.powerfull__wrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 540 / 524;  
}

@media (max-width: 1140px) {
  .powerfull {
      padding-block-start: 90px;
      padding-block-end: 90px;
    }
}

@media (max-width: 990px) {
  .powerfull {
    padding-block-start: 20px;
    padding-block-end: 20px;
  }

  .powerfull__content {
    padding-block-start: 30px;
  }

  .header-block:not(:last-child) {
    margin-block-end: 40px;
  }

  .header-block__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .powerfull {
      padding-block-start: 10px;
      padding-block-end: 10px;
    }
  .powerfull__content {
    margin-block-end: 20px;
  }
}

/* ======================================================= */
/*                         FLOWER                          */
/* ======================================================= */

.section__flower {}

.flower {
  padding-block-start: 122px;
}

.flower__container {}

@media (min-width:767.98px) {
  .flower__wrapper {
    display: grid;
    grid-template-columns: 45.4955% 1fr;
    column-gap: 155px;
  }
}

@media (max-width:1140px) {
  .flower {
      padding-block-start: 100px;
  }
  .flower__wrapper {  
      column-gap: 135px;
    }
}

@media (max-width:1080px) {
  .flower {
      padding-block-start: 80px;
  }
  .flower__wrapper {
    column-gap: 100px;
  }
}

@media (max-width:1060px) {
  .flower__wrapper {
    grid-template-columns: 50.4955% 1fr;
    column-gap: 70px;
  }
}

@media (max-width:976px) {
  .flower {
      padding-block-start: 40px;
    }
  .flower__container {
      padding-block-start: 20px;
  }

  .flower__wrapper {
    column-gap: 50px;
  }
}

@media (max-width:950px) {
  .flower__wrapper {
    column-gap: 30px;
  }

  .flower__image {

  }

  .flower__image img {
    aspect-ratio: 480 / 326;
  }
}

@media (max-width:857px) {
  .flower {
      padding-block-start: 30px;
    }
  .flower__container {
      padding-block-start: 10px;
  }

  .flower__wrapper {
      /* column-gap: 20px; */
  }
}

.flower__image {
  padding-inline-start: 26px;
  padding-inline-end: 49px;
}

.flower__image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 480 / 316; 
}

@media (max-width:950px) {
  
  .flower__image {
    padding-inline-start: 20px;
    padding-inline-end: 10px;
  }
}

.flower__header {
  padding-block-start: 50px;
}

/* ======================================================= */
/*                         MOBILE                          */
/* ======================================================= */

.section__mobile {}

.mobile {
  padding-block-start: 223px;
}

.mobile__container {
}

@media (min-width:767.98px) {
  .mobile__wrapper {
    display: grid;
    grid-template-columns: 45.4955% 1fr;
    column-gap: 155px;
  }
}

@media (max-width:1140px) {
  .mobile {
      padding-block-start: 200px;
   }
  
  .mobile__wrapper {
    column-gap: 135px;
  }
}

@media (max-width:1080px) {
  .mobile {
      padding-block-start: 150px;
  }
  
  .mobile__wrapper {
    column-gap: 100px;
  }
}

@media (max-width:1060px) {
  .mobile {
      padding-block-start: 120px;
  }

  .mobile__wrapper {
    column-gap: 20px;
  }

  .mobile__wrapper {
    grid-template-columns: 50.4955% 1fr;
    column-gap: 70px;
  }
}

@media (max-width:976px) {
  .mobile {
      padding-block-start: 100px;
  }

  .mobile__wrapper {
    column-gap: 50px;
  }
}

@media (max-width:950px) {
  .mobile {
      padding-block-start: 80px;
  }

  .mobile__wrapper {
    column-gap: 30px;
  }

  .mobile__image {}

  .mobile__image img {
    aspect-ratio: 540 / 387;
  }
}

@media (max-width:857px) {
  .mobile {
      padding-block-start: 30px;
  }

  .mobile__wrapper {
    column-gap: 20px;
  }
}

.mobile__image {
  padding-inline-start: 26px;
  padding-inline-end: 49px;
}

.mobile__image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 540 / 387;
}

@media (max-width:950px) {

  .mobile__image {
    padding-inline-start: 20px;
    padding-inline-end: 10px;
  }
}

@media (max-width:857px) {
  .mobile__image img {
    /* aspect-ratio: 480 / 326; */
  }
}

.mobile__header {
  padding-block-start: 80px;
}

@media (max-width:1140px) {
  .mobile__header {
      padding-block-start: 60px;
  }
}

@media (max-width:1080px) {
  .mobile__header {
      padding-block-start: 50px;
  }
}

@media (max-width:1060px) {
  .mobile__header {
    padding-block-start: 40px;
  }
}

@media (max-width:976px) {
  .mobile__header {
    padding-block-start: 30px;
  }
}

@media (max-width:857px) {
  .mobile__header {
    padding-block-start: 30px;
  }
}

/* ======================================================= */
/*                           LILY                          */
/* ======================================================= */

.section__lily {}

.lily {
  padding-block-start: 232px;
  padding-block-end: 163.46px;
}

.lily__container {  
}

@media (min-width:767.98px) {
  .lily__wrapper {
    display: grid;
    grid-template-columns: 45.4955% 1fr;
    column-gap: 155px;
  }
}

@media (max-width:1140px) {
  .lily__wrapper {
    column-gap: 135px;
  }
}

@media (max-width:1080px) {
  .lily {
      padding-block-start: 200px;
      padding-block-end: 120px;
  }

  .lily__wrapper {
    column-gap: 100px;
  }
}

@media (max-width:1060px) {
  .lily__wrapper {
    grid-template-columns: 50.4955% 1fr;
    column-gap: 70px;
  }
}

@media (max-width:976px) {
  .lily {
      padding-block-start: 150px;
      padding-block-end: 80px;
  }

  .lily__wrapper {
    column-gap: 50px;
  }
}

@media (max-width:950px) {
  .lily {
      padding-block-start: 100px;
      padding-block-end: 50px;
  }

  .lily__wrapper {
    column-gap: 30px;
  }

  .lily__image {}

  .lily__image img {
    aspect-ratio: 445 / 312;
  }
}

@media (max-width:857px) {
  .lily {
      padding-block-start: 30px;
      padding-block-end: 30px;
  }

  .lily__wrapper {
    column-gap: 20px;
  }
}

.lily__image {
  padding-inline-start: 26px;
  padding-inline-end: 49px;
}

.lily__image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 445 / 312;
}

@media (max-width:950px) {

  .lily__image {
    padding-inline-start: 20px;
    padding-inline-end: 10px;
  }
}

.lily__header {
}

@media (max-width:767px) {
  .lily__header {
    padding-block-start: 50px;
  }
}

.lily__header:not(:last-child) {
  margin-block-end: 40px;
}

@media (max-width:857px) {
  .lily__header:not(:last-child) {
    margin-block-end: 20px;
  }
}

/* ======================================================== */

@media (any-hover: hover) {
  .buy-button:hover {
    color: #111b47;
    background-color: burlywood;
  }
}

@media (max-width: 345px) {
  .header-block__title {
    font-size: 25px;
  }
}

@media (max-width: 275px) {
  .header-block__title {
    font-size: 20px;
  }
}
/* ======================================================= */
/*                           FOOTER                        */
/* ======================================================= */
.footer {
  padding-block: 30px;
  background-color: #181818;
}

.footer__container {
  text-align: center;
}

.footer__container h2 {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 460px) {
  .header__container h2 {
    font-size: 30px;
  }

  .footer__container h2 {
    font-size: 20px;
  }
}
/*==============================================================================================================*/
